<footer class="bg-dark abhof">
  <div class="footer-copyright bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-3 col-sm-3">
              <h5>Contact Us</h5>
              <p>Box 8709223<br>
                Tuscaloosa, AL 35487<br>
                Email: <a href="mailto:alhof@culverhouse.ua.edu">alhof@culverhouse.ua.edu</a><br></p>
              <hr>
            </div> <!-- .col-md-3 -->

            <div class="col-md-9 col-md-9">
              <div class="pull-right">
                <ul class="disclaimer-list list-inline text-right">
                  <li><%= link_to "Social Media Links", "/social-media" %></li>
                  <li><%= link_to "Alumni", "/alumni" %></li>
                  <li><%= link_to "Faculty & Staff", "/directory" %></li>
                  <!-- <li><%= link_to "Contacts", "/contact" %></li> -->
                </ul>

                <p class="copyright-text text-right">
                  <%= link_to "Website Feedback", "mailto:fstewart@culverhouse.ua.edu" %>
                  | <%= link_to "Culverhouse Technology Group", "/tech" %>
                </p>


                <p class="copyright-text text-right">
                  <a href="https://www.ua.edu/copyright">Copyright &copy; 2016</a>
                  | <a href="/">The Culverhouse College of Commerce</a>
                  | <a href="https://www.ua.edu">The University of Alabama</a>
                  | <a href="https://www.ua.edu/disclaimer">Disclaimer</a>
                  | <a href="https://www.ua.edu/privacy">Privacy</a>
                </p>
              </div> <!-- .pull-right -->
            </div> <!-- .col-md-9 -->
          </div> <!-- .row -->
        </div> <!-- .col-md-12 -->
      </div> <!-- .row -->
    </div> <!-- .container -->
  </div> <!-- .footer-copyright -->
</footer>