<ul class="nav navbar-nav main-nav">
  <li class="visible-xs visible-sm">
    <a href="#" class="nav-toggle text-center">
      <i class="fa fa-times"></i>
    </a>
  </li>

  <% if @page.parent.present? %>
      <li class="abhof-dropdown">
        <%# link_to @page.parent.title, "#{request.base_url}/#{@page.parent.slug}" %>
        <%= link_to_if @page.parent.sections.navlinked.present?, 'Home', "#{request.base_url}/#{@page.parent.slug}", { :class => 'dropdown-toggle', 'data-toggle' => 'dropdown', 'aria-expanded' => 'false'} do
          link_to 'Home', "#{request.base_url}/#{@page.parent.slug}"
        end %>
        <% if @page.parent.sections.navlinked.present? %>

            <ul class="dropdown-menu">
              <li>
                <div class="mega-menu-content">
                  <div class="row">
                    <div class="col-md-12">
                      <ul class="list-unstyled">
                        <% @page.parent.sections.navlinked.each do |s| %>
                            <li><%= link_to s.title, "#{@page.parent.slug}#item-#{s.position}" %></li>
                        <% end %>
                      </ul>
                    </div> <!-- .col-md-12 -->
                  </div> <!-- .row -->
                </div> <!-- .mega-menu-content -->
              </li>
            </ul>

        <% end %>

      </li>

      <!--  Link to any subpages assigned to this page. -->
      <% @page.parent.subpages.published.sorted.each do |s| %>
          <% if s.external_url.present? %>
              <%= link_to_in_li "#{s.title}", "#{s.external_url}", target: "_blank", :class =>"abhof-dropdown mega-menu" %>
          <% elsif s.id == @page.id %>
              <%# link_to_in_li "#{s.title}", { :controller => :pages, :action => :show2, :parent_id => s.parent.slug, :id => s.slug }, :class =>"dropdown mega-menu"  %>
              <li class="abhof-dropdown mega-menu">
                <%= link_to_if s.sections.navlinked.present?, s.title, { :controller => :pages, :action => :show2, :parent_id => s.parent.slug, :id => s.slug }, { :class => 'dropdown-toggle', 'data-toggle' => 'dropdown', 'aria-expanded' => 'false'} do
                  link_to s.title, { :controller => :pages, :action => :show2, :parent_id => s.parent.slug, :id => s.slug }
                end %>
                <% if s.sections.navlinked.present? %>

                    <ul class="dropdown-menu">
                      <li>
                        <div class="mega-menu-content">
                          <div class="row">
                            <div class="col-md-12">
                              <ul class="list-unstyled">
                                <% s.sections.navlinked.each do |sublink| %>
                                    <li><%= link_to sublink.title, "#item-#{sublink.position}" %></li>
                                <% end %>
                              </ul>
                            </div> <!-- .col-md-12 -->
                          </div> <!-- .row -->
                        </div> <!-- .mega-menu-content -->
                      </li>
                    </ul>

                <% end %>
              </li>
          <% else %>
              <%# link_to_in_li "#{s.title}", { :controller => :pages, :action => :show2, :parent_id => s.parent.slug, :id => s.slug }, :class =>"dropdown mega-menu" %>
              <li class="abhof-dropdown mega-menu">
                <%= link_to_if s.sections.navlinked.present?, s.title, { :controller => :pages, :action => :show2, :parent_id => s.parent.slug, :id => s.slug }, { :class => 'dropdown-toggle', 'data-toggle' => 'dropdown', 'aria-expanded' => 'false'} do
                  link_to s.title, { :controller => :pages, :action => :show2, :parent_id => s.parent.slug, :id => s.slug }
                end %>
                <% if s.sections.navlinked.present? %>

                    <ul class="dropdown-menu">
                      <li>
                        <div class="mega-menu-content">
                          <div class="row">
                            <div class="col-md-12">
                              <ul class="list-unstyled">
                                <% s.sections.navlinked.each do |sublink| %>
                                    <li><%= link_to sublink.title, "#item-#{sublink.position}" %></li>
                                <% end %>
                              </ul>
                            </div> <!-- .col-md-12 -->
                          </div> <!-- .row -->
                        </div> <!-- .mega-menu-content -->
                      </li>
                    </ul>

                <% end %>
              </li>
          <% end %>
      <% end %>

  <% else %>

      <li class="abhof-dropdown mega-menu">
        <%= link_to_if @page.sections.navlinked.present?, 'Home', @page.slug, { :class => 'dropdown-toggle', 'data-toggle' => 'dropdown', 'aria-expanded' => 'false'} do
          link_to 'Home', @page.slug
        end %>
        <% if @page.sections.navlinked.present? %>

                <ul class="dropdown-menu">
                  <li>
                    <div class="mega-menu-content">
                      <div class="row">
                        <div class="col-md-12">
                          <ul class="list-unstyled">
                            <% @page.sections.navlinked.each do |s| %>
                              <li><%= link_to s.title, "#item-#{s.position}" %></li>
                            <% end %>
                          </ul>
                        </div> <!-- .col-md-12 -->
                      </div> <!-- .row -->
                    </div> <!-- .mega-menu-content -->
                  </li>
                </ul>

        <% end %>
      </li>

      <% @page.subpages.published.sorted.each do |s| %>
          <% if s.external_url.present? %>
              <%= link_to_in_li "#{s.title}", "#{s.external_url}", target: "_blank", :class =>"dropdown mega-menu-full" %>
          <% else %>
              <%# link_to_in_li "#{s.title}", { :controller => :pages, :action => :show2, :parent_id => s.parent.slug, :id => s.slug }, :class =>"dropdown mega-menu-full" %>
              <li class="abhof-dropdown mega-menu">
                <%= link_to_if s.sections.navlinked.present?, "#{s.title}", { :controller => :pages, :action => :show2, :parent_id => s.parent.slug, :id => s.slug }, { :class => 'dropdown-toggle', 'data-toggle' => 'dropdown', 'aria-expanded' => 'false'} do
                  link_to "#{s.title}", { :controller => :pages, :action => :show2, :parent_id => s.parent.slug, :id => s.slug }
                end %>
                <% if s.sections.navlinked.present? %>

                    <ul class="dropdown-menu">
                      <li>
                        <div class="mega-menu-content">
                          <div class="row">
                            <div class="col-md-12">
                              <ul class="list-unstyled">
                                <% s.sections.navlinked.each do |sublink| %>
                                    <li><%= link_to sublink.title, { :controller => :pages, :action => :show2, :parent_id => s.parent.slug, :id => s.slug, :anchor => "item-#{sublink.position}" } %></li>
                                <% end %>
                              </ul>
                            </div> <!-- .col-md-12 -->
                          </div> <!-- .row -->
                        </div> <!-- .mega-menu-content -->
                      </li>
                    </ul>

                <% end %>
              </li>
          <% end %>
      <% end %>

   <% end %>

</ul>