<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h2>A Culverhouse Partner registration has been processed. </h2>
<p></p>

<p><b>Contact:</b>  <%= "#{@corporate_partner.firstname} #{@corporate_partner.lastname}" %></p>
<p><b>Phone:</b> <%= @corporate_partner.phone %></p>
<p><b>Email:</b> <%= @corporate_partner.email %></p>
<p><b>Company:</b> <%= @corporate_partner.company %></p>
<p><b>Position:</b> <%= @corporate_partner.position %></p>

<p></p>
<p>Thanks,</p>
<p>The Culverhouse College of Commerce</p>
</body>
</html>